/* fonts for svg file */
@font-face {
    font-family: 'SourceSansPro-Regular';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansPro-Light';
    src: url('fonts/sourcesanspro-regular-webfont.eot');
    src: url('fonts/sourcesanspro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-regular-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-regular-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-regular-webfont.svg#source_sans_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansPro-Black';
    src: url('fonts/sourcesanspro-black-webfont.eot');
    src: url('fonts/sourcesanspro-black-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-black-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-black-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-black-webfont.svg#source_sans_problack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansPro-Bold';
    src: url('fonts/sourcesanspro-bold-webfont.eot');
    src: url('fonts/sourcesanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-bold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-bold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-bold-webfont.svg#source_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansPro-Semibold';
    src: url('fonts/sourcesanspro-semibold-webfont.eot');
    src: url('fonts/sourcesanspro-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
         url('fonts/sourcesanspro-semibold-webfont.woff') format('woff'),
         url('fonts/sourcesanspro-semibold-webfont.ttf') format('truetype'),
         url('fonts/sourcesanspro-semibold-webfont.svg#source_sans_prosemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*General*/
body{
  color: #333;;
}

.navbar-inverse{
  background-color: #fff;
  border-color: transparent;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.navbar-header{
  margin-right: 0;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 1.4em;
}

.text-narrative  li, .text-map-page li, .dataset li{
  font-family: 'Crimson Text', serif;
  font-size: 1.4em;
}

.text-narrative  ul, .text-map-page ul, .dataset ul{
  list-style: none;
  padding-left: 2em;
  text-indent: -2em;
  margin-left: 2em;
}

.text-narrative ul li::before, .text-map-page ul li:before, .dataset ul li:before{
  font-family: 'Crimson Text', serif;
  content: '—';
  padding-right: .5em;
  color: #ff5a52;
}


.text-narrative ol, .text-map-page ol{
  padding-left: 2em;
  text-indent: -2em;
  margin-left: 2em;
  list-style-type: none;
  counter-reset: ol-counter;
}

.text-narrative ol li:before, .text-map-page ol li:before{
  content: counter(ol-counter)".";
  counter-increment: ol-counter;
  color: #ff5a52;
  padding-right:10px;  
  font-style: italic;
}

.nav-tabs {
  list-style: none;
}

h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 50px;
  color:#ff5a52;}

h1{
  font-family: 'Crimson Text', serif;
  font-size: 2em;
  text-transform:capitalize;
}

a{
  color:#ff5a52;
  text-decoration: underline;
  transition: color 0.5s ease;
}

a:hover{
  color:#ccc;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

/*button*/
.btn{
  background: #fff;
  border: 1px solid #f0ecec;
  padding: 10px 20px;
  height: 42px;
  top: 35%;
  margin: 0;
  color: #566473;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.85em;
  font-family: 'Source Sans Pro', sans-serif;
}

.btn:focus{
  outline: none !important;
}

.btn:active, .btn.active {
background-color: #f4f2f2;
outline: 0;
/* -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); */
box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
}

.btn:active:hover, .btn.active:hover {
background-color: #f4f2f2;
outline: 0;
/* -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125); */
box-shadow: inset 0 3px 3px rgba(0, 0, 0, .1);
}


.btn-round-lg{
  border-radius: 22.5px;
}

.btn-round{
  border-radius: 50px;
}

.btn-round a{
  text-decoration: none;
}

.btn-round-sm{
  border-radius: 50px;
}
.btn-round-xs{
  border-radius: 11px;
  padding-left: 10px;
  padding-right: 10px;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  color: #333;
  background-color: #fcfcfc;
  border-color: #f0ecec;
}

label{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#7e7d7d;
}

/*search*/
.form-control {
  display: block;
  width: 100%;
  height: 42px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
  background-image: none;
  border: 1px solid #f0ecec;
  border-radius: 40px!important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: none!important;
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
}

.form-control:focus {
  border-color: #ff5a52;
  outline: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.form-control::-moz-placeholder {
  color: #cbc9c9;
  font-style: italic;
}
.form-control:-ms-input-placeholder {
  color: #cbc9c9;
  font-style: italic;
}
.form-control::-webkit-input-placeholder {
  color: #cbc9c9;
  font-style: italic;
}

.input-group .icon-addon .form-control {
  border-radius: 0;
}

.icon-addon {
  position: relative;
  color: #555;
  display: block;
}

.icon-addon:after,
.icon-addon:before {
  display: table;
  content: " ";
}

.icon-addon:after {
  clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
  position: absolute;
  z-index: 2;
  left: 10px;
  font-size: 14px;
  width: 20px;
  margin-left: -2.5px;
  text-align: center;
  padding: 13px 5px;
  top: 1px
}

.icon-addon.addon-lg .form-control {
  line-height: 1.33;
  height: 46px;
  font-size: 18px;
  padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
  height: 30px;
  padding: 5px 10px 5px 28px;
  font-size: 12px;
  line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
  font-size: 18px;
  margin-left: 0;
  left: 11px;
  top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
  padding-left: 30px;
  float: left;
  font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
  margin-left: 0;
  font-size: 12px;
  left: 5px;
  top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
  color: #ff5a52;
}

/*dropdpwn*/
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2em;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #ff5a52;
  outline: 0;
}

/*table*/
table, .dataset table{
  margin-top: 50px;
  margin-bottom: 50px!important;
}

tr:first-child, .dataset tr:first-child { 
    background-color: #efeaeb;
    font-weight: 700;
    text-transform: uppercase;
    color:#ff5a52;
    letter-spacing: 1px;
    font-size: 0.8em;
    text-decoration: none;
}

tr:first-child a, .dataset tr:first-child a{ 
    text-decoration: none;
}

table p, .dataset table p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  margin: 0;
}

/*loading bar*/
#loading-bar .bar {
  background: #ff5a52;
}

/* spinner */
#loading-bar-spinner{
  top:50%;
  left: 50%;
}

#loading-bar-spinner .spinner-icon {
  width: 60px;
  height: 60px;
  border:  solid 3px transparent;
  border-top-color:  #ff5a52;
  border-left-color: #ff5a52;
  border-radius: 30px;
}

/*Home*/
.jumbotron {
  background-color:#ff5a52;
  background-size:   cover;           
  background-repeat: no-repeat;
  height: 300px;
}

.jumbotron.home{
  background-color:#ff5a52;
  background-size: cover;          
  background-repeat: no-repeat;
  height: 600px;
  background-image:  url(../images/foto_cover3.jpg);
  background-attachment: fixed;
}


.jumbotron.sprint {
  background-color:#ff5a52;
  background-size: contain;          
  background-repeat: no-repeat;
  height: 400px;
  background-image:  url(../images/foto_cover.jpg);
  background-attachment: fixed;
}

.jumbotron.about {
  background-color:#ff5a52;
  background-size: contain;          
  background-repeat: no-repeat;
  height: 400px;
  background-image:  url(../images/foto_cover2.jpg);
  background-attachment: fixed;
}

.jumbotron.theory {
  background-color:#ff5a52;
  background-size: contain;          
  background-repeat: no-repeat;
  height: 400px;
  background-image:  url(../images/foto_cover4.jpg);
  background-attachment: fixed;
}

.jumbotron.forward {
  background-color:#ff5a52;
  background-size: contain;          
  background-repeat: no-repeat;
  height: 400px;
  background-image:  url(../images/foto_cover5.jpg);
  background-attachment: fixed;
}

.jumbotron .logo{
  z-index: 1000;
  margin: 85px auto 0;
  text-align: center;
}

.jumbotron.home .logo img{
  z-index: 1000;
  margin: 40px auto 0;
  text-align: center;
  height: 140px;
}

.jumbotron.sprint h1, .jumbotron.about h1, .jumbotron.theory h1, .jumbotron.forward h1{
  z-index: 1000;
  margin: 100px auto;
  text-align: center;
  font-size: 5.5em;
  color:#fff;
  text-transform:capitalize;
  font-family: 'Crimson Text', serif;
}

.jumbotron.home h1{
  z-index: 1000;
  margin: 20px auto;
  text-align: center;
  font-size: 1.28em;
  letter-spacing: 2px;
  color:#fff;
  text-transform:uppercase;
  font-family: 'Source Sans Pro', sans-serif;
} 

.of{
  font-family: 'Crimson Text', serif;
  text-transform:none;
  font-style: italic;
}

.home-column{
  -webkit-column-count: 2;
  -moz-column-count: 2; 
  column-count: 2;
  -webkit-column-gap: 30px; 
  -moz-column-gap: 30px;
  column-gap: 30px;
}

.switch .nav-tabs{
  border-bottom: none;
  margin-top: 60px;
}

.switch .nav-tabs > li{
  margin-bottom: 0px;
}

.switch .nav-tabs > li a{
  font-family: 'Crimson Text', serif;
  font-size: 3.5em;
  padding-bottom: 30px;
  padding-top: 50px;
  text-decoration: none;
  border: none;
}

.switch .nav-tabs li a:hover{
  background-color: transparent;
}

.switch .nav-tabs > li.active, .switch .nav-tabs > li.active a:hover{
  border: none;
  text-decoration: underline;
}

.switch .nav-tabs > li a{
  color: #ccc;
  cursor: pointer;
}

.switch .nav-tabs > li.active a {
  color: #333;
}

.switch .nav-tabs{
  margin-left: auto;
  margin-right: auto;
}

.nav > li > a {
padding: 30px 20px 20px 0px !important;
}

@media (min-width: 768px) {
  .switch .nav-tabs {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .switch .nav-tabs {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .switch .nav-tabs {
    width: 1170px;
  }
}
/*.switch .active{
text-decoration: underline;
padding-right: 20px;
}

.switch .not-active{
color:#ccc;
text-decoration: none;
padding-right: 20px;
}*/
.gallery-home{
  border-top: 1px #f0ecec solid;
  border-bottom: 1px #f0ecec solid;
  padding-top: 30px;
  background-color: #f9f7f7;
}

.gallery-home a{
  text-decoration: none!important;
}

.gallery-home a:hover{
  color:#ccc;
}

.map-thumb {
  border-color: #ebedef !important;
  margin-bottom: 30px;
  text-decoration: none!important;

}

.map-thumb-pic{
  background-size:cover;
  height: 200px;
  -webkit-filter: none; /*Returns to default state*/
  -webkit-transition: all 0.5s;
  background-color: #ff5a52;
}

.map-thumb-pic:hover{
    -webkit-filter: opacity(50%);
}

.map-thumb-text { 
  padding: 12px !important; 
  background-color: #fff !important;
  height:60px;
  overflow: hidden;
  text-overflow: ellipsis;
}  

.map-thumb-text h1 { 
  display: inline; 
  font-family: 'Crimson Text', serif;
  font-size: 1.2em;
  text-transform:capitalize;
  font-weight: 400;
  text-transform: none; 
  margin: 0 !important; 
  padding: 0 !important;
  color: #333;
  text-decoration: none!important;
  padding-left: 50px;
  }

 .map-thumb-text a{ 
  text-decoration: none!important;

  }

.narrative-thumb {
  border-color: #ebedef !important;
  text-decoration: none!important;
  height: 300px;
  background-color: #fff;
  margin-bottom: 30px;
}


.narrative-thumb-pic{
  background-size:cover;
  height: 300px;
  width:30%;
  -webkit-filter: none; /*Returns to default state*/
  -webkit-transition: all 0.5s;
  background-color: #ff5a52;
  float: left;
}

.narrative-thumb-pic:hover{
    -webkit-filter: opacity(50%);
}

.narrative-thumb-text { 
  padding: 20px !important; 
  background-color: #fff !important;
  height:100%;
  max-width: 70%;
  float: left;
}  

.narrative-thumb-text hr{ 
  border: 0;
  height: 5px;
  width: 50px;
  background-color: #ff5a52;
  margin-left:0;
}  

.narrative-thumb-text h1 { 
  display: inline; 
  font-family: 'Crimson Text', serif;
  font-size: 2.5em;
  text-transform:capitalize;
  margin-top: 0px;
  font-weight: 400;
  text-transform: none; 
  margin: 0 !important; 
  padding: 0 !important;
  color: #333;
  text-decoration: none!important;
  }

  .narrative-thumb-text h2 { 
  font-family: 'Crimson Text', serif;
  font-size: 1.8em;
  font-weight: 400;
  font-style:italic;
  color: #7f7e7e;
  }

 .narrative-thumb-text a{ 
  text-decoration: none!important;
  }

  .narrative-thumb-text a{ 
  color:#ccc;
  }

/*.map-thumb h1{
font-family: 'Crimson Text', serif;
font-size: 1.5em;
}*/

/*Sprint*/
.sprint h1{
  font-family: 'Crimson Text', serif;
  font-size: 3.5em;
  text-transform:capitalize;
}

.sprint h2{
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style:italic;
  color: #7f7e7e;
}

.sprint h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  padding-bottom: 0;
}

.sprint hr{
  border: 0;
  height: 5px;
  width: 50px;
  background-color: #ff5a52;
  margin-left:0;
}

.sprint p{
  font-family: 'Crimson Text', serif;
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 60px;
}

.metadata-sprint{
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  padding-bottom: 0;
}

/*institution*/

.institution{
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 1px #f0ecec solid;
}

.institution hr{
  border: 0;
  height: 5px;
  width: 50px;
  background-color: #ff5a52;
  margin-left:0;
  margin-bottom: 50px;
}

.institution h4{
  padding-top: 0;
}

.institution img{
  width:100%;
}

.website{
  margin-top: 20px;
}

/*Narrative Template*/
.narrative {
  padding-top:0;
}

.narrative .intro {
  margin-top: 100px;
}

.intro h1{
  font-family: 'Crimson Text', serif;
  font-size: 3.5em;
  text-transform:capitalize;
  margin-top: 0px;
}

.intro h3{
  font-family: 'Crimson Text', serif;
  font-size: 2em;
  font-weight: 400;
  font-style:italic;
  color: #7f7e7e;
}

.intro h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: none;
  color: #333;
}

.intro hr{
  border: 0;
  height: 5px;
  width: 50px;
  background-color: #ff5a52;
  margin-left:0;
}

.intro p{
  font-family: 'Crimson Text', serif;
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 60px;
}

.references p{
  font-size: 1.1em;
} 

.references .title {
  font-size: 1.1em;
  font-style: italic;
} 

.aside{
  padding-left: 30px;
  max-width: 100%;
}

.aside p{
  font-size: 1.1em;
}

.aside h4{
  padding-top: 40px!important;
}

.aside .caption p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  padding-bottom: 20px;
  padding-top: 60px;
}

.aside .caption p::before { 
  content: "\f106";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 3px;
  color: #ff5a52;
}

.aside .caption-static p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  padding-top: 80px;
}

.aside .caption-static p::before { 
  content: "\f104";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 3px;
  color: #ff5a52;
}


.metadata{
  max-width: 100%;
}

.text-narrative{
  padding-top: 50px;
}

.text-narrative h2{
  font-family: 'Crimson Text', serif;
  font-weight: 600;
  font-size: 1.2em;
  letter-spacing: 1px;
  text-transform: none;
  color: #333;
  font-style: italic;
}


.text-narrative hr{
  border: 0;
  height: 5px;
  width: 50px;
  background-color: #ff5a52;
  margin-left:0;
}

.dataset{
  padding-top: 50px;
}

.dataset h1{
  font-family: 'Crimson Text', serif;
  font-size: 2em;
  }

.dataset h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: none;
  color: #333;
  padding-top: 25px;
  text-transform: uppercase;
}

.dataset p{
  font-family: 'Crimson Text', serif;
  font-size: 1.4em;
}

.dataset hr{
  margin-bottom: 20px;
}

/*.container-viz {
height:100%;
border-top: 1px #f0ecec solid;
border-bottom: 1px #f0ecec solid;
margin-top: 50px;
background-color: #FCFAFA;
position: relative;
width:100%;
min-height: 600px;
}*/

.narrative-viz, .map-viz {
  border-top: 1px #f0ecec solid;
  border-bottom: 1px #f0ecec solid;
  margin-top: 50px;
  background-color: #FCFAFA;
  min-height: 200px;
}

.narrative-viz h1{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 50px;
}

.container-viz.map-page h1{
  font-family: 'Crimson Text', serif; 
  font-size: 2em;
  padding-bottom: 50px;
}

.map-viz h1{
  font-family: 'Crimson Text', serif; 
  font-size: 2em;
  padding-bottom: 20px;
}

.container-viz p{
  margin-bottom: 30px;
}

.text-map-page{
  border-right:1px #f0ecec solid;
  padding-right: 25px;
  padding-top: 50px;
}


/* SVG wrap and Rounded Button */
.svg-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.nav-roundslide a {
  margin: 0 0px;
  padding: 10px;
  width: 42px;
  height: 42px;
  border-radius: 40px;
  background: #fff;
  -webkit-transition: width 0.3s, background-color 0.3s;
  transition: width 0.3s, background-color 0.3s;
}

.nav-roundslide .icon-wrap {
  position: absolute;
  width: 21px;
}

.nav-roundslide a.prev .icon-wrap {
  left: 12px;
}

.nav-roundslide a.next .icon-wrap {
  right: 9px;
}

.nav-roundslide svg.icon {
  fill: #ff5a52;
}

.nav-roundslide h3 {
  position: absolute;
  top: 35%;
  margin: 0;
  color: #566473;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.85em;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.nav-roundslide a.prev h3 {
  right: 20px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.nav-roundslide a.next h3 {
  left: 20px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-roundslide a:hover {
  width: 200px;
  background: #fff;
}

.nav-roundslide a:hover h3 {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

navmap{
  float: right;
}

navmap a {
  /*position: absolute;*/
  display: block;
  outline: none;
  text-align: left;
  z-index: 1000;
  bottom: 50px;
  right:30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #f0ecec;
}


/*Footer*/
.footer{
  border-top: #f0ecec 1px solid;
  min-height: 250px;
  margin-top: 150px;
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #f9f7f7;
}

.footer img{
  width: 100px;
  float: left;
  margin-right: 10px;
}

.footer p{
  font-size: 0.8em;
  font-family: 'Source Sans Pro', sans-serif;
}

.footer .italic{
  font-style: italic;
}

.footer h4{
  font-size: 0.8em;
  font-family: 'Source Sans Pro', sans-serif;
  color:#333;
  padding: 10px 0;
}


.main-map{
  padding-left: 100px;
}

.content-main-map{
  border-right: 1px solid #f0ecec;
  padding-right: 70px;
  padding-top: 30px;
}

.sidebar-map{
}

.content-sidebar-map{
  padding-left: 10px;
  padding-right: 100px;
  padding-top: 30px;
}

.sidebar-map p{
  margin: 0;
}

.sidebar-map h1{
  padding-top: 1.2em;
  color: #ff5a52;
}

.sidebar-map h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
}

.sidebar-map h3::before { 
  content: "\f106";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 3px;
  color: #ff5a52;
}

.title{
  font-family: 'Crimson Text', serif;
  font-size: 2.5em;
  line-height: 100%;
  padding-bottom: 30px;
}

.main-map h1{
  padding-top: 30px;
}

/* network details controls*/

#sigma-container{
  min-height: 500px;
  border-bottom: 2px solid #f0ecec;
}

.network-container{
  min-height: 80px;
  padding-top: 20px;
}

.network-controls{
  padding-top: 20px;
  padding-bottom: 10px;
}

.node-details{
  padding-top: 10px;
  border-right: 1px solid #f0ecec;
}

.node-details{
  padding-bottom: 15px;
}

.node-linked{
  padding-top: 10px;
}

.network-line hr{
  margin-top: 0px!important;
  margin-bottom: 0px!important;
}

.network-details h2{
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  line-height: 120%;
  margin-top: 0px!important;
  margin-bottom: 20px;
}

.network-details p{
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  line-height: 100%;
}

.network-details h5{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color:#7e7d7d;
}

.network-details .badge{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 200;
  margin-right: 5px;
  margin-bottom: 5px;
  background-color: #cbc9c9;
  cursor: pointer;
  padding: 5px;
}

.network-details .badge:hover{
  background-color: #7e7d7d;
}

/*menu*/
.hidden-menu{
    background-color: #00434c;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    font-size: 15px;
    top: 0;
    left:0;
    width: 20em;
    z-index: 2000;
    color:#333;
    border-right:1px #286275 solid; 
}

.hidden-menu a{
    text-decoration: none;
    font-family: 'Crimson Text', serif;
    font-size: 1.5em;
    padding-bottom: 30px;
    color: #fff;
}

.hidden-menu a:hover{
    color: #ccc;
}


.hidden-menu ul{
    list-style: none;
    margin-right: 40px;
    padding-top: 50px;
}

.hidden-menu li{
    border-bottom: 1px solid #286275;
    padding: 10px 0;
}
.hidden-menu.out{
    left:-20em;
}
.hidden-menu{
-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
}

#menu-ico {
    display: block;
    font-size: 36px; /* change this */
    width: 0.6em;
    height: 0.8em;
    position: fixed;
    top:30px;
    left:20px;
    z-index:3000;
}

#menu-ico span {
    background: #ddd;
    display: block;
    -webkit-transform: translate3d(0,0,0);
}

#menu-ico span,
#menu-ico span:before,
#menu-ico span:after {
    width: 100%;
    height: .11em;
    -moz-transition:       all 0.4s;
    -o-transition:         all 0.4s;
    -webkit-transition:    all 0.4s;
    transition:            all 0.4s;
    -webkit-transform: translate3d(0,0,0);
}

#menu-ico span:before,
#menu-ico span:after {
    background: #ddd;
    content: " ";
    margin-top: -.2em;
    position: absolute;
}

#menu-ico span:after {
    margin-top: .2em;
}

#menu-ico.on span {
    background: transparent;
}

#menu-ico.on span:before {
    -moz-transform: rotate(45deg) translate(.09em, .19em);
    -ms-transform: rotate(45deg) translate(.09em, .19em);
    -o-transform: rotate(45deg) translate(.09em, .19em);
    -webkit-transform: rotate(45deg) translate(.09em, .19em);
    transform: rotate(45deg) translate(.09em, .19em);
}

#menu-ico.on span:after {
    -moz-transform: rotate(-45deg) translate(.1em, -.2em);
    -ms-transform: rotate(-45deg) translate(.1em, -.2em);
    -o-transform: rotate(-45deg) translate(.1em, -.2em);
    -webkit-transform: rotate(-45deg) translate(.1em, -.2em);
    transform: rotate(-45deg) translate(.1em, -.2em);
}
#matrix-container text{
    font-family: "Source Sans Pro";
    font-size:11px;
}
.img-container{
    width:100%;
    text-align:center;
    margin-bottom:30px;
}
.multiple-controls select{
    margin-bottom:30px;
}

#scatter-container .scat-sel{
    fill:#FF5A52 !important;
    opacity:1 !important;
}

.top5{
    font-family: "Source Sans Pro";
}

.top5 h2 {
    font-size:1.4em;
    font-weight: 600;
}

.top5 b{
    text-transform: uppercase;
    font-size: 0.8em;
}

.img-narrative img{
    width:100%;

}

#related-maps a, #related-narratives a{
    display: block;
}

#matrix14-container{
    width:100%;
}

#matrix14-container .mat-sel{
    fill:#B0CFCD !important;
}
#matrix14-container .xlabel{
    cursor:pointer;
}

#multiple-container-fluid{
  overflow-x:hidden; 
}

#multiple-container-fluid svg{
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#multiple-container svg, 
#multiple-container img, 
.single-container svg,
.single-container img{
  width: 100%;
}

/* share*/
.sharing {
  float: left;
  display: block;
  clear:both;  
}

.sharing h4{
  padding-bottom: 0;
}

.sharing a{
  text-decoration:none!important;
}

.sharing i{
  font-size: 2em;
  padding-right:3px; 
}
.img-narrative svg, .img-narrative img{
    width:100%;
}

.fade {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.fade.ng-enter {
    opacity: 0;
}
.fade.ng-enter-active {
    opacity: 1;
}
.fade.ng-leave {
    opacity: 1;
}
.fade.ng-leave-active {
    opacity: 0;
}