/*General*/
.navbar-inverse{
  background-color: #fff;
  border-color: transparent;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

.navbar-header{
  margin-right: 0;
}

p {
  font-family: 'Crimson Text', serif;
  font-size: 1.4em;
}

h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 50px;
  color:#ff5a52;
}

a{
  color:#ff5a52;
  text-decoration: underline;
  transition: color 0.5s ease;
}

a:hover{
  color:#ccc;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}

/*loading bar*/
#loading-bar .bar {
  background: #ff5a52;
}

/*Home*/
.jumbotron {
  background-color:#ff5a52;
  background-size:   cover;           
  background-repeat: no-repeat;
  height: 300px;
}

.jumbotron.sprint {
  background-color:#ff5a52;
  background-size:   cover;           
  background-repeat: no-repeat;
  height: 600px;
  background-image:  url(../images/foto_cover.jpg);
}

.jumbotron .logo{
  z-index: 1000px;
  margin: 25px auto;
  text-align: center;
}

.jumbotron.sprint .logo img{
  z-index: 1000px;
  margin: 25px auto;
  text-align: center;
  height: 50px;
}

.jumbotron.sprint h1{
  z-index: 1000px;
  margin: 100px auto;
  text-align: center;
  font-size: 5.5em;
  color:#fff;
  text-transform:capitalize;
}

.home-column{
    -webkit-column-count: 2;
    -moz-column-count: 2; 
    column-count: 2;
    -webkit-column-gap: 30px; 
    -moz-column-gap: 30px;
    column-gap: 30px;
}

.switch .nav-tabs{
  border-bottom: none;
}

.switch .nav-tabs > li{
  margin-bottom: 0px;
}

.switch .nav-tabs > li a{
  font-family: 'Crimson Text', serif;
  font-size: 3.5em;
  padding-bottom: 30px;
  padding-top: 50px;
  text-decoration: none;
  border: none;
}

.switch .nav-tabs li a:hover{
  background-color: transparent;
}

.switch .nav-tabs > li.active, .switch .nav-tabs > li.active a:hover{
  border: none;
  text-decoration: underline;
}

.switch .nav-tabs > li a{
  color: #ccc;
  cursor: pointer;
}

.switch .nav-tabs > li.active a {
  color: #000;
}

.switch .nav-tabs{
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .switch .nav-tabs {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .switch .nav-tabs {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .switch .nav-tabs {
    width: 1170px;
  }
}
/*.switch .active{
  text-decoration: underline;
  padding-right: 20px;
}

.switch .not-active{
  color:#ccc;
  text-decoration: none;
  padding-right: 20px;
}*/

.narrative-thumb{
  border-top: 1px solid #f0ecec;
  min-height: 200px;
  /*margin-left: -15px;*/
  background: #fff;
  cursor: pointer;
  background-size:cover;
}

.narrative-thumb h1{
  font-family: 'Crimson Text', serif;
  font-size: 3.5em;
}

.narrative-thumb h2, .map-thumb h1{
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
}

.narrative-thumb h1 a, .map-thumb h1 a{
  text-decoration: none;
  color: #000;
}

.map-thumb {
  height: 200px;
  background-color:  #f0ecec;
  border: 1px solid #fff;
  background-size:cover;
}

/*.map-thumb h1{
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
}*/

/*Sprint*/
.sprint h1{
  font-family: 'Crimson Text', serif;
  font-size: 3.5em;
  text-transform:capitalize;
}

.sprint h2{
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style:italic;
  color: #7f7e7e;
}

.sprint h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  padding-bottom: 0;
}

.sprint hr{
  border: 0;
  height: 5px;
  width: 50px;
  background-color: #ff5a52;
  margin-left:0;
}
.sprint p{
  font-family: 'Crimson Text', serif;
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 30px;
}

.metadata-sprint{
  padding-top: 50px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  letter-spacing: 1px;
  padding-bottom: 0;
}

/*Narrative Template*/
.narrative {
}

.narrative .intro {
  margin-top: 100px;
}

.intro h1{
  font-family: 'Crimson Text', serif;
  font-size: 3.5em;
  text-transform:capitalize;
}

.intro h2{
  font-family: 'Crimson Text', serif;
  font-size: 1.5em;
  font-weight: 400;
  font-style:italic;
  color: #7f7e7e;
}

.intro h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: none;
  color: #000;
}

.intro hr{
  border: 0;
  height: 5px;
  width: 50px;
  background-color: #ff5a52;
  margin-left:0;
}

.intro p{
  font-family: 'Crimson Text', serif;
  font-size: 1.8em;
  font-weight: 400;
  margin-top: 60px;
}

.references p{
  font-size: 1.1em;
} 

.references .title {
  font-size: 1.1em;
  font-style: italic;
} 

.aside{
  padding-left: 30px;
  padding-top: 50px;
}

.aside p{
  font-size: 1.1em;
}

.aside h4{
  padding-top: 20px;
}

.aside a{
  text-decoration: none;
  color:#000;
}

.aside .caption p{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  padding-bottom: 30px;
}

.aside .caption p::before { 
  content: "\f106";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 3px;
  color: #ff5a52;
}

.text-narrative{
  padding-top: 50px;
}

.text-narrative h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #000;
}

/*.container-viz {
  height:100%;
  border-top: 1px #f0ecec solid;
  border-bottom: 1px #f0ecec solid;
  margin-top: 50px;
  background-color: #FCFAFA;
  position: relative;
  width:100%;
  min-height: 600px;
}*/

.narrative-viz, .map-viz {
  border-top: 1px #f0ecec solid;
  border-bottom: 1px #f0ecec solid;
  margin-top: 50px;
  background-color: #FCFAFA;
  min-height: 600px;
}

.narrative-viz h1{
  font-family: 'Crimson Text', serif; 
  font-size: 1.7em;
  text-transform:capitalize;
  padding-bottom: 20px;
}

.container-viz.map-page h1{
  font-family: 'Crimson Text', serif; 
  font-size: 2em;
}

.map-viz h1{
  font-family: 'Crimson Text', serif; 
  font-size: 2em;
}

.container-viz p{
  margin-bottom: 30px;
}

.text-map-page{
  border-right:1px #f0ecec solid;
  padding-right: 25px;
  padding-top: 50px;
}


/* SVG wrap and Rounded Button */
.svg-wrap {
  position: absolute;
  width: 0px;
  height: 0px;
  overflow: hidden;
}

.nav-roundslide a {
  margin: 0 0px;
  padding: 10px;
  width: 42px;
  height: 42px;
  border-radius: 40px;
  background: #fff;
  -webkit-transition: width 0.3s, background-color 0.3s;
  transition: width 0.3s, background-color 0.3s;
}

.nav-roundslide .icon-wrap {
  position: absolute;
  width: 21px;
}

.nav-roundslide a.prev .icon-wrap {
  left: 12px;
}

.nav-roundslide a.next .icon-wrap {
  right: 9px;
}

.nav-roundslide svg.icon {
  fill: #ff5a52;
}

.nav-roundslide h3 {
  position: absolute;
  top: 35%;
  margin: 0;
  color: #566473;
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 0.85em;
  font-family: 'Source Sans Pro', sans-serif;
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
}

.nav-roundslide a.prev h3 {
  right: 20px;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.nav-roundslide a.next h3 {
  left: 20px;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.nav-roundslide a:hover {
  width: 200px;
  background: #fff;
}

.nav-roundslide a:hover h3 {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

navmap{
  float: right;
}

navmap a {
  /*position: absolute;*/
  display: block;
  outline: none;
  text-align: left;
  z-index: 1000;
  bottom: 0;
  right:30px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #f0ecec;
}


/*Footer*/
.footer{
  border-top: #f0ecec 1px solid;
  height: 100px;
  margin-top: 150px;
  padding-top: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
}





.main-map{
  padding-left: 100px;
}

.content-main-map{
  border-right: 1px solid #f0ecec;
  padding-right: 70px;
  padding-top: 30px;
}

.sidebar-map{
}

.content-sidebar-map{
  padding-left: 10px;
  padding-right: 100px;
  padding-top: 30px;
}

.sidebar-map p{
  margin: 0;
}

.sidebar-map h1{
  padding-top: 1.2em;
  color: #ff5a52;
}

.sidebar-map h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
}

.sidebar-map h3::before { 
  content: "\f106";
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
  margin-right: 3px;
  color: #ff5a52;
}

.title{
  font-family: 'Crimson Text', serif;
  font-size: 2.5em;
  line-height: 100%;
  padding-bottom: 30px;
}

.main-map h1{
  padding-top: 30px;
}

/* network details controls*/

.network-container{
  min-height: 80px;
  border-bottom: 1px solid #f0ecec;
  padding-top: 20px;
}

.network-controls{
  border-bottom: 1px solid #f0ecec;
  padding-bottom: 15px;
}

.node-details{
  padding-top: 10px;
  border-right: 1px solid #f0ecec;
}

.node-details{
  padding-bottom: 15px;
}



/*search*/
.input-group .icon-addon .form-control {
    border-radius: 0;
}

.icon-addon {
    position: relative;
    color: #555;
    display: block;
}

.icon-addon:after,
.icon-addon:before {
    display: table;
    content: " ";
}

.icon-addon:after {
    clear: both;
}

.icon-addon.addon-md .glyphicon,
.icon-addon .glyphicon, 
.icon-addon.addon-md .fa,
.icon-addon .fa {
    position: absolute;
    z-index: 2;
    left: 10px;
    font-size: 14px;
    width: 20px;
    margin-left: -2.5px;
    text-align: center;
    padding: 10px 0;
    top: 1px
}

.icon-addon.addon-lg .form-control {
    line-height: 1.33;
    height: 46px;
    font-size: 18px;
    padding: 10px 16px 10px 40px;
}

.icon-addon.addon-sm .form-control {
    height: 30px;
    padding: 5px 10px 5px 28px;
    font-size: 12px;
    line-height: 1.5;
}

.icon-addon.addon-lg .fa,
.icon-addon.addon-lg .glyphicon {
    font-size: 18px;
    margin-left: 0;
    left: 11px;
    top: 4px;
}

.icon-addon.addon-md .form-control,
.icon-addon .form-control {
    padding-left: 30px;
    float: left;
    font-weight: normal;
}

.icon-addon.addon-sm .fa,
.icon-addon.addon-sm .glyphicon {
    margin-left: 0;
    font-size: 12px;
    left: 5px;
    top: -1px
}

.icon-addon .form-control:focus + .glyphicon,
.icon-addon:hover .glyphicon,
.icon-addon .form-control:focus + .fa,
.icon-addon:hover .fa {
    color: #2580db;
}
