<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="sharing">
        <h4>Project funded by the European Union</h4>
        <img src="images/eu_logo.png">
        <p>This project has received funding from the European Union’s Seventh Framework Programme for research, technological development and demonstration under grant agreement n° 288964</p>
      </div>
      </div>
      <div class="col-md-4">
        <div class="sharing">
        <h4>Disclaimer</h4>
        <p class="italic">The maps in this atlas are not perfect. Far from it. Yet readers should be patient for they know that two difficulties complicated our efforts. First, our object – the debates about climate adaptation – are among the thorniest issues of collective life. Second, the digital methods that we employed are still highly experimental. Though sketchy and tentative, we hope that our maps will still be useful for the actors in the climate change debate.<br>
          To report errors or request information, write to us at <a href="info@climaps.eu">info@climaps.eu</a>
        </p>
      </div>
      </div>
      <div class="col-md-3">
         <div class="sharing">
          <h4>License</h4>
         <p class="license" >All the texts and the visualizations are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
          <a href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="../images/cc-by-sa.png" /></a></div>
      </div>
      <div class="col-md-2">
         <div class="sharing">
        <h4>share</h4>
          <p>
            <a class="share" target="_blank" href="https://twitter.com/intent/tweet?text=Climaps:%20A%20Global%20Issue%20Atlas%20Of%20Climate%20Change%20Adaptation%20http://climaps.eu"><i class="fa fa-twitter-square"></i></a>
            <a class="share" target="_blank" href="https://plus.google.com/share?url=http://climaps.eu"><i class="fa fa-google-plus-square"></i></a>
            <a class="share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://climaps.eu"><i class="fa fa-facebook-square"></i></a>
          </p>
          </div>
        <div class="sharing"><h4>Project by</h4>
          <p><a href="http://www.emapsproject.com/blog/"><img src="images/emaps_logo.png" width="50"></a></p>
        </div>
      </div>

    </div>
  </div>
</div>
</div>