<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h4>Project funded by the European Union</h4>
        <img src="images/eu_logo.png">
        <p>This project has received funding from the European Union’s Seventh Framework Programme for research, technological development and demonstration under grant agreement n° 288964</p>
      </div>
      <div class="col-md-3">
        <h4>Disclaimer</h4>
        <p class="italic">The maps of this atlas are not perfect. Far from that. Yet readers will be patient for they know that two difficulties complicated our efforts. First, our object – the debates about climate adaptation – are among the thorniest issues of collective life. Second, the digital methods that we employed are still highly experimental. Though sketchy and tentative, we hope that our maps will still be useful for the actors of climate change debate. <br>
        To report errors or ask information, write us at <a href="info@climaps.eu">info@climaps.eu</a>
        </p>
      </div>
      <div class="col-md-3">
        <h4>Institutions</h4>
        <p><a href="http://www.medialab.sciences-po.fr/">Médialab</a>, Fondation Nationale Des Sciences Politiques (Sciences Po)<br><a href="https://wiki.digitalmethods.net/Dmi/WinterSchool2015">Digital Methods Initiative</a>, University Of Amsterdam<br><a href="http://www.densitydesign.org">DensityDesign Research Lab</a>, Politecnico Di Milano<br><a href="http://www.raumplanung.tu-dortmund.de/ips/cms/en/HOME/">Institute Of Spatial Planning</a>, University Of Dortmund<br><a href="http://www.barcelonamedia.org/">Barcelona Media</a><br><a href="http://youngfoundation.org/">The Young Foundation</a><p>
      </div>
      <div class="col-md-3">
        <div class="sharing"><h4>Project by</h4>
        <p><a href="http://www.emapsproject.com/blog/"><img src="images/emaps_logo.png"></a></p></div>
        <div class="sharing"><h4>share</h4>
        <p>
        

        <a class="share" target="_blank" href="https://twitter.com/intent/tweet?text=Climaps:%20A%20Global%20Issue%20Atlas%20Of%20Climate%20Change%20Adaptation%20http://climaps.eu"><i class="fa fa-twitter-square"></i></a>
        <a class="share" target="_blank" href="https://plus.google.com/share?url=http://climaps.eu"><i class="fa fa-google-plus-square"></i></a>
        <a class="share" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://climaps.eu"><i class="fa fa-facebook-square"></i></a>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>