<div class="jumbotron home">
    <div class="container">
        <div class="logo"><img src="images/logo.png"></div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 intro">

      <p>The website present the results of a research project, but it also presents an experiment: an attempt to use computation and visualization techniques to harness the increasing availability of digital data and make it available for public debate. To do so, the EMAPS project gathered a team of social scientists, climate experts, data scientists and information designers. It also reached out beyond the walls of Academia and engaged with the actors of the climate debate.
      As in all explorations the journey is as important as the final destination and this project is – we hope – but a leg in a longer effort to deploy the complexity of debate on climate change and make it legible for a wider public.</p>
    </div>  
  </div>
  <button class="website btn btn-round btn-default"><a href="#/about">More about this project</a></button>
  <hr>
</div>
<div class="container-fluid switch">
  <!-- era class switch -->
  <div class="row">
    <div class="col-md-12">
      <tabset>
        <tab heading="Narratives">
          <!-- <div class="container-fluid"> -->
          <!-- era narrative-thumb -->
          <div class="row gallery-home">
            <div ng-repeat="narrative in narratives" class="col-md-12">
              <a ng-href="#/narrative/{{narrative.slug}}">
                <div class="narrative-thumb">
                  <div ng-style="{ 'background-image': 'url(' + map.cover + ')'}" class="narrative-thumb-pic"></div>
                 <div class="narrative-thumb-text">
                  <h1>{{narrative.title || "Narrative title"}}</h1>
                  <h2>{{narrative.subtitle || "Narrative subtitle"}}</h2>
                  <hr>
                 </div> 

                </div> </a>
              </div>
          </div>
          <!-- </div> -->
        </tab>
        <tab heading="Maps">
          <!-- <div class="container-fluid"> -->
          <!-- era map-thumb -->
          <div class="row gallery-home">
            <div ng-repeat="map in maps" class="col-md-3">
              <a ng-href="#/map/{{map.slug}}">
                <div class="map-thumb">
                 <div class="map-thumb-text">
                  <h1>{{map.title || "Map title"}}</h1>
                 </div> 
                <div ng-style="{ 'background-image': 'url(' + map.cover + ')'}" class="map-thumb-pic"></div>
                </div> </a>
              </div>
          </div>
          <!-- </div> -->
        </tab>
      </tabset>
    </div>
  </div>
</div>