<div class="jumbotron home">
    <div class="container">
        <div class="logo"><img src="images/logo.png"></div>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 intro">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam cursus sit amet lectus non pretium. Mauris consequat justo sapien, a pharetra tortor gravida ut. Etiam luctus lacus at felis maximus, id malesuada tortor interdum. Etiam id pharetra purus. Vestibulum facilisis massa sed ligula blandit, eget varius quam malesuada. Aenean dictum finibus est, non euismod neque fermentum eget. Donec eget ex et eros tristique pellentesque sed ut nibh.</p>
    </div>  
  </div>
  <button class="website btn btn-round btn-default"><a href"">More about this project</a></button>
  <hr>
</div>
<div class="container-fluid switch">
  <!-- era class switch -->
  <div class="row">
    <div class="col-md-12">
      <tabset>
        <tab heading="Narratives">
          <!-- <div class="container-fluid"> -->
          <!-- era narrative-thumb -->
          <div class="row gallery-home">
            <div ng-repeat="narrative in narratives" class="col-md-12">
              <a ng-href="#/narrative/{{narrative.slug}}">
                <div class="narrative-thumb">
                  <div ng-style="{ 'background-image': 'url(' + map.cover + ')'}" class="narrative-thumb-pic"></div>
                 <div class="narrative-thumb-text">
                  <h1>{{narrative.title || "Narrative title"}}</h1>
                  <h2>{{narrative.subtitle || "Narrative subtitle"}}</h2>
                  <hr>
                 </div> 

                </div> </a>
              </div>
          </div>
          <!-- </div> -->
        </tab>
        <tab heading="Maps">
          <!-- <div class="container-fluid"> -->
          <!-- era map-thumb -->
          <div class="row gallery-home">
            <div ng-repeat="map in maps" class="col-md-3">
              <a ng-href="#/map/{{map.slug}}">
                <div class="map-thumb">
                 <div class="map-thumb-text">
                  <h1>{{map.title || "Map title"}}</h1>
                 </div> 
                <div ng-style="{ 'background-image': 'url(' + map.cover + ')'}" class="map-thumb-pic"></div>
                </div> </a>
              </div>
          </div>
          <!-- </div> -->
        </tab>
      </tabset>
    </div>
  </div>
</div>