<!-- Viz container -->
<div class="container-fluid map-viz">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>
					{{content.title}}
				</h1>
			</div>
		</div>
	</div>
	<!-- container should be removed w/ network!!! to be fixed -->
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			    <div ng-if="content.directive">
			    	<div directive-data="{{content.datasrc[0]}}" directive-name="{{content.directive}}" directive-manager></div>
			  	</div>
			</div>
		</div>
	 </div>
</div>
<!-- /.Viz container -->

<!-- Map-page texts container -->
<div class="container">
	<div class="row">
		<div class="col-md-8 text-map-page">
			<p ng-if="content.description">
				{{content.description}}
			</p>

			<section ng-repeat="section in content.sections">
				<h4>{{section.title}}</h4>
				<span ng-bind-html="section.html"></span>
			</section>

		</div>
		<div class="col-md-4 aside">
			<div class="metadata">
				<section ng-repeat="section in content.metadata">
					<h4>{{section.title}}</h4>
 					<span ng-bind-html="section.html"></span>
				</section>
<!-- 				<h4>Data Files</h4>
				<p>
					<a href="#"><i class="fa fa-arrow-circle-o-down"></i> Download (5Mb)</a>
				</p> -->
			</div>
		</div>
	</div>
</div>
<!-- /.Map-page texts container -->
