<!-- Viz container -->
<div class="container-fluid map-viz">
	<div class="container">
		<div class="row">
			<div class="col-md-8">
				<h1>
					{{content.title}}
				</h1>
			</div>
		</div>
	</div>
    <div ng-if="content.directive">
    	<div directive-data="{{content.datasrc}}" directive-name="{{content.directive}}" directive-manager></div>
  	</div>
</div>
<!-- /.Viz container -->

<!-- Map-page texts container -->
<div class="container">
	<div class="row">
		<div class="col-md-8 text-map-page">
			<div class="row">
				<div class="col-md-12">
					<p ng-if="content.introduction" ng-bind-html="content.introduction">

					</p>

					<section ng-repeat="section in content.sections">
						<h4>{{section.title}}</h4>
						<span ng-bind-html="section.html"></span>
					</section>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div disqus="content.title"></div>
				</div>
			</div>
		</div>
		<div class="col-md-4 aside">
			<div class="metadata">
				<section ng-repeat="section in content.metadata">
					<h4>{{section.title}}</h4>
 					<span ng-if="section.title!=='Related maps' && section.title!=='Related narratives'" ng-bind-html="section.html"></span>
                    <div ng-if="section.title==='Related maps'" id="related-maps"> {{mapSlugFromId(section.html)}} </div>
                    <div ng-if="section.title==='Related narratives'" id="related-narratives"> {{narrativeSlugFromId(section.html)}} </div>
                    <!--<span  ng-bind-html="section.html"></span>-->
				</section>
<!-- 				<h4>Data Files</h4>
				<p>
					<a href="#"><i class="fa fa-arrow-circle-o-down"></i> Download (5Mb)</a>
				</p> -->
			</div>
		</div>
	</div>
</div>
<div ng-include="'views/footer.html'"></div>