<div class="container">

    <div class="row">

        <div class="col-md-4">
            <label></label>Dataset</label> <select class="form-control " ng-model="d" ng-options="data.name for data in datasets"></select>
        </div>


    </div>

    <div class="row">
        <div class="col-md-2">
            <label>X Axis</label> <select class="form-control " ng-model="source" ng-options="index.label for index in xindex"></select>
        </div>
        <div class="col-md-2">
            <label>Y Axis</label> <select class="form-control " ng-model="target" ng-options="index.label for index in yindex"></select>
        </div>

        <div class="col-md-4">
            <label>Sorting</label> <br>
            <div class="btn-group">
                <label class="btn btn-round" ng-model="sort" btn-radio="'count'">nr of projects</label>
                <label class="btn btn-round" ng-model="sort" btn-radio="'alphabet'">Alphabetical</label>
            </div>

        </div>

        <div class="col-md-4">
            <label>Data</label> <br>
            <div class="btn-group">
                <label class="btn btn-round" ng-model="filt" btn-radio="'all'">All</label>
                <label class="btn btn-round" ng-model="filt" btn-radio="'indiabangladesh'">India & Bangladesh</label>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12" id="matrix-container">
        </div>
    </div>

</div>