<div class="svg-wrap">
    <svg width="42" height="42" viewBox="0 0 42 42">
        <path id="arrow-right" d="M48.058 48l-0.003-10.33-47.414 0.003v-11.37h47.418l-0.003-10.304 15.306 16z" />
    </svg>
</div>
<div class="container narrative">
  <div class="row">
    <div class="col-md-8 intro">
      <h4>
        {{content.authors}}
      </h4>
      <h1>
        {{content.title}}
      </h1>
      <h3>
        {{content.subtitle}}
      </h3>
      <hr>
      <p>
        {{content.introduction}}
      </p>
    </div>
  </div>
</div>

<section ng-repeat="section in content.sections">
  <div ng-if="section.type == 'text'" class="container narrative">
    <div class="row">
      <div class="col-md-8 text-narrative">
        <h4>{{section.title}}</h4>
          <span ng-bind-html="section.html">
          </span>
      </div>
    </div>
  </div>



    <div ng-if="section.type == 'directive' && section.directive==='image'" class="container narrative">

        <div class="row">
            <div class="col-md-8 img-narrative">
                <h4 ng-bind-html="section.title"></h4>
                <div singleimage source="{{section.datasrc}}"></div>
            </div>
            <div class="col-md-4 aside">
                <div class="caption-static">
                    <p ng-bind-html="section.caption">
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-8 text-narrative">
          <span ng-bind-html="section.html">
          </span>
            </div>
        </div>
    </div>







  <div ng-if="section.type != 'text' && section.directive && section.directive!=='image'" class="container-fluid narrative-viz">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h1 ng-bind-html="section.title">
          </h1>
        </div>
      </div>
    </div>




    <div ng-if="section.directive && section.directive!=='image'" >
        <div directive-data="{{section.datasrc}}" directive-name="{{section.directive}}" directive-manager>
        </div>
    </div>

      <div ng-if='section.type=="image" '>
          <div class = "img-container"><img src ="{{section.src}}"/></div>
          <!--<div directive-data="{{section.datasrc}}" directive-name="{{section.directive}}" directive-manager>
          </div>-->
      </div>


    <navmap ng-if="section.type == 'directive' && section.directive!=='image'" class="nav-roundslide">
      <a class="next" ng-href="#!/map/{{section.map}}">
        <span class="icon-wrap"><svg class="icon" width="21" height="21" viewBox="0 0 64 64"><use xlink:href="#arrow-right"></svg></span>
        <h3>View map page</h3>
      </a>
    </navmap>
  </div>
  <div ng-if="section.type == 'directive' && section.directive!=='image'" class="container narrative">
      <div class="row">
          <div class="col-md-8 text-narrative">
              <span ng-bind-html="section.html">
              </span>
          </div>
          <div class="col-md-4 aside">
              <div class="caption">
                  <p ng-bind-html="section.caption">
                  </p>
              </div>
          </div>
      </div>
  </div>
</section>
<div class="container narrative">
    <div class="row">
        <div class="col-md-8 text-narrative">
      <div disqus="content.title"></div>
        </div>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>
