<div class="jumbotron theory">
    <div class="container">
        <h1>{{content.title}}</h1>
    </div>
</div>

<!-- Container -->
<div class="container">
    <div class="row">
        <div class="col-md-8 text-narrative">
            <span ng-bind-html="content.html">
            </span>    
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 text-narrative">
            <disqus disqus-identifier="{{content.title}}">
            </disqus>
        </div>
    </div>
</div>
<div ng-include="'views/footer.html'"></div>